.wrapper {
border: 1px solid black;
width: 700px;
margin: 30px auto;
height: 700px;
position: relative;
}

.infinity-slider {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.infinity-slider img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.infinity-slider .opacity0 {
    opacity: 0;
}

.slider-buttons {
    text-align: center;
}

.btn-prev, .btn-next {
    
}

@media (max-width: 530px) {
    .infinity-slider img {
        max-width: 350px;
    }  
