.wrapper {
border: 1px solid black;
width: 500px;
margin: 30px auto;
height: 600px;
position: relative;
}

.infinity-slider {
    width: 500px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.infinity-slider img {
    width: 500px;
    height: 600px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.infinity-slider .opacity0 {
    opacity: 0;
}

.slider-buttons {
    text-align: center;
}

.btn-prev, .btn-next {
    
}